@{
    ViewData["Title"] = "Create Flower Bouquet";
    string JWTToken = Context.Session.GetString("JWToken");
}

<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
        <h2>
            Create new flower bouquet

        </h2>
        <a href="/FlowerBouquet" class="btn btn-dark">Back</a>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="form-group mt-2">
                <label for="FlowerBouquetName">Name</label>
                <input type="text" class="form-control" id="FlowerBouquetName" />
                <span id="FlowerBouquetName-error" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Description" />
                <span id="Description-error" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label for="UnitPrice">Unit price</label>
                <input type="number" value="1" min="1" class="form-control" id="UnitPrice" />
                <span id="UnitPrice-error" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label for="UnitsInStock">Units in stock</label>
                <input type="number" value="1" min="1" class="form-control" id="UnitsInStock" />
                <span id="UnitsInStock-error" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label for="Category">Category</label>
                <select class="form-select" id="Category"></select>
                <span id="Category-error" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label for="Supplier">Supplier</label>
                <select class="form-select" id="Supplier"></select>
                <span id="Supplier-error" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <button id="AddButton" class="btn btn-primary w-100">Create</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            getAllSupplier();
            getAllCategory();

            function getAllSupplier() {
                $.ajax({
                    url: "http://localhost:5167/api/Supplier",
                    type: "GET",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + "@JWTToken");
                    },
                    success: function (result, status, xhr) {
                        $.each(result, function (key, item) {
                            $("#Supplier").append("<option value='" + item["supplierID"] + "'>" + item["supplierName"] + "</option>");
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                })
            }

            function getAllCategory() {
                $.ajax({
                    url: "http://localhost:5167/api/Category",
                    type: "GET",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + "@JWTToken");
                    },
                    success: function (result, status, xhr) {
                        $.each(result, function (key, item) {
                            $("#Category").append("<option value='" + item["categoryID"] + "'>" + item["categoryName"] + "</option>");
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                    }
                })
            }

            function formValidation() {
                var isValid = true;
                if ($("#FlowerBouquetName").val().trim() == "") {
                    $("#FlowerBouquetName-error").html("Name is required");
                    isValid = false;
                } else {
                    $("#FlowerBouquetName-error").html("");
                }

                if ($("#Description").val().trim() == "") {
                    $("#Description-error").html("Description is required");
                    isValid = false;
                } else {
                    $("#Description-error").html("");
                }

                if ($("#UnitPrice").val() <= 0) {
                    $("#UnitPrice-error").html("Unit price must be greater than 0");
                    isValid = false;
                } else {
                    $("#UnitPrice-error").html("");
                }

                if ($("#UnitsInStock").val() <= 0) {
                    $("#UnitsInStock-error").html("Units in stock must be greater than 0");
                    isValid = false;
                } else {
                    $("#UnitsInStock-error").html("");
                }

                if ($("#Category").val() == "") {
                    $("#Category-error").html("Category is required");
                    isValid = false;
                } else {
                    $("#Category-error").html("");
                }

                if ($("#Supplier").val() == "") {
                    $("#Supplier-error").html("Supplier is required");
                    isValid = false;
                } else {
                    $("#Supplier-error").html("");
                }

                return isValid;
            }

            $("#AddButton").click(function () {
                if (!formValidation()) {
                    return;
                }
                $.ajax({
                    url: "http://localhost:5167/api/FlowerBouquet",
                    type: "POST",
                    data: JSON.stringify({
                        "flowerBouquetName": $("#FlowerBouquetName").val(),
                        "description": $("#Description").val(),
                        "unitPrice": $("#UnitPrice").val(),
                        "unitsInStock": $("#UnitsInStock").val(),
                        "categoryID": $("#Category").val(),
                        "flowerBouquetStatus": 1,
                        "supplierID": $("#Supplier").val()
                    }),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "Bearer " + "@JWTToken");
                    },
                    success: function (result, status, xhr) {
                        alert("Create successfully");
                        // Redirect to home
                        window.location.href = "/FlowerBouquet";
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr)
                        if (xhr.status == 400) {
                            $("#FlowerBouquetName-error").html("Name already exists");
                        }
                    }
                })
            })
        })
    </script>
}
