@{
    ViewData["Title"] = "List Flower Bouquets";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <h2>List flower bouquets</h2>

        <p>
            <a href="FlowerBouquet/Create" class="btn btn-dark">Create New</a>
        </p>
    </div>

    <div class="row">
        <div class="col-4">
            <form id="form-search" class="my-4">
                <h4>Search</h4>
                <div class="form-group mb-2">
                    <input name="keyword" class="form-control" />
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <button id="clear-search" class="btn btn-info">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered m-2">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Units in stock</th>
                <th>Status</th>
                <th>Category</th>
                <th>Supplier</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ShowAllFlowerBouquets();

            function ShowAllFlowerBouquets() {
                $("table tbody").html("");
                $.ajax({
                    url: "http://localhost:5167/api/FlowerBouquet",
                    type: "GET",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        $.each(result, function (index, value) {
                            $("tbody").append($("<tr>"));
                            const appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(value["flowerBouquetName"]));
                            appendElement.append($("<td>").html(value["description"]));
                            appendElement.append($("<td>").html(value["unitPrice"]));
                            appendElement.append($("<td>").html(value["unitsInStock"]));
                            appendElement.append($("<td>").html(value["flowerBouquetStatus"] === 1 ? "<div class='text-success'>Active</div>" : "<div class='text-success'>Deleted</div>"));
                            appendElement.append($("<td>").html(value["category"]["categoryName"]));
                            appendElement.append($("<td>").html(value["supplier"]["supplierName"]));
                            appendElement.append($("<td>").html(
                                "<a class='btn btn-warning' href='FlowerBouquet/Edit?id=" + value["flowerBouquetID"] + "'>Edit</a>" +
                                "<a class='btn btn-danger ms-2' href='FlowerBouquet/Delete?id=" + value["flowerBouquetID"] + "'>Delete</a>"
                            ));
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                })
            }

            $("#form-search").submit(function (e) {
                e.preventDefault();
                const keyword = $("input[name='keyword']").val();
                $.ajax({
                    url: "http://localhost:5167/api/FlowerBouquet/Search/" + keyword,
                    type: "GET",
                    contentType: "application/json",
                    success: function (result, status, xhr) {
                        $("table tbody").html("");
                        $.each(result, function (index, value) {
                            $("tbody").append($("<tr>"));
                            const appendElement = $("tbody tr").last();
                            appendElement.append($("<td>").html(value["flowerBouquetName"]));
                            appendElement.append($("<td>").html(value["description"]));
                            appendElement.append($("<td>").html(value["unitPrice"]));
                            appendElement.append($("<td>").html(value["unitsInStock"]));
                            appendElement.append($("<td>").html(value["flowerBouquetStatus"]));
                            appendElement.append($("<td>").html(value["category"]["categoryName"]));
                            appendElement.append($("<td>").html(value["supplier"]["supplierName"]));
                            appendElement.append($("<td>").html(
                                "<a class='btn btn-warning' href='FlowerBouquet/Edit?id=" + value["flowerBouquetID"] + "'>Edit</a>" +
                                "<a class='btn btn-danger ms-2' href='FlowerBouquet/Delete?id=" + value["flowerBouquetID"] + "'>Delete</a>"
                            ));
                        })
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                    }
                })
            })

            $("#clear-search").click(function () {
                $("input[name='keyword']").val("");
                ShowAllFlowerBouquets();
            })
        })
    </script>
}